@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,200&display=swap');
/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* basic styles for page */
html{
    height: 100%;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}
:root {
    /* Color Pallete */
    --offwhite: #EFF1ED;
    --white: #ffffff;
    --green: #82C445;
    --dark-green:#3c5a14;
    --black: #222222;
    --priority: #7a0c00;
    --delete:red;
    --hover:#adaead;
    --desc-text:#6d6d6d;
}

body {
    min-height: 100%;
    background-color: var(--white);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto 10fr auto;
    grid-template-areas:
    "header header header header header"
    "sidebar main main main main"
    "footer footer footer footer footer";
}

li {
    list-style: none;
}

/* Header */

header {
    grid-area: header;
    background-color: var(--green);
    font-size: 1em;
    text-align: center;
    font-weight: 700;
    color: var(--offwhite);
}

/* Sidebar */

aside {
    grid-area: sidebar;
    background-color: var(--offwhite);
    padding: 2rem .5rem 0 2rem;
    display: flex;
    flex-direction: column;
}

#Schedule li {
    padding: .5em .5em;
    cursor: pointer;
}

#Schedule li:hover{
    background-color: var(--hover);
    border-radius: 10px;  
}

#Categories {
    padding-top: 1em;
}

#Categories p{
    font-weight: 700;
}

#Categories ul {
    padding-top: .5em;
}

.add-cat-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category {
    padding: .25em .5em;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.category:hover {
    background-color: var(--hover);
    border-radius: 10px;
}

.delete-cat {
    visibility: hidden;
}

.category:hover .delete-cat {
    visibility: visible;
    color: var(--delete);
}

#add-category {
    border:none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    height: 32px;
    width: 32px;
}

#add-category:hover {
    background-color: var(--hover);
}


/* main */

main {
    grid-area: main;
    background-color: var(--white);
    padding: 2.5em 2em 1em 2.0em;
    max-width: 1600px;
}

#list-title {
    font-size: 1.5em;
    font-weight: 700;
    padding-bottom: 1em;
}

.task{
    display: flex;
    justify-content: space-between;
    padding-left: .5em;
    border-bottom: 1px solid var(--offwhite);
    color: var(--black);
    cursor: pointer;
}

.task:hover .delete {
    visibility: visible;
    color: var(--delete);
}

.task:hover {
    background-color: var(--offwhite);
    border-radius: 15px;
}

.task-title {
    font-weight: 500;
    font-size: 1.25em;
}

.task-desc {
    font-weight:500;
    font-size: 1.15em;
    color: var(--desc-text)
}

.due-date {
    color:var(--dark-green)
}

.task-left {
    display: flex;
    align-items: center;
}

.done-dot {
    width: 1em;
    height: 1em;
    border: 1px solid;
    border-radius: 50%;
    padding: .5em;
    margin-right: 1em;
}

.task-right{
    display: flex;
    align-items: center;
}

.task-right div {
    padding-right: 3em;
}

.delete {
    visibility: hidden;
    color: var(--white);
}

.priority {
    color: var(--priority);
}

.add-task-div {
    padding-top: 1em;
    padding-left: .25em;
}

#add-task {
    border:none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.10em;
    width: 100%;
    text-align: left;
    padding-left: .25em;
    color: var(--black);
    display: flex;
    align-items: center;
}

.plus{
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--green);
    height: 16px;
    width: 16px;
    margin-right: 1em;
}

#add-task:hover{
    color: var(--green);
    border-bottom: 1px solid var(--offwhite);
}

#add-task:hover .plus {
    color: var(--white);
    background-color: var(--green);
    border-radius: 5px;
}

#form-todo {
    visibility: hidden;
}

.add-task-form {
    border: 1px solid var(--offwhite);
    padding-left: .5em;
    border-radius: 5px;
}

/*Hide input labels visually https://css-tricks.com/html-inputs-and-labels-a-love-story/  */
.text-container-form label{
    border-width: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute ;
    white-space: nowrap;
    width: 1px;
}


#title-form{
    border: none;
    display: flex;
    width: 100%;
    margin: .5em 0;
    font-size: 1.25em;
    font-weight: 700;
}

#title-form:focus-visible {
    outline: none;
}

#task-desc-form{
    border: none;
    resize: none;
    width: 100%;
    font-size: 1.05em;
    font-weight: 200;
    height: 2.5em;
}
#task-desc-form:focus-visible {
    outline: none;
}

#task-desc-form::placeholder{
    color: var(--hover);
}

.data-container-form label{
    border-width: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute ;
    white-space: nowrap;
    width: 1px;
}

#date-form {
    border: none;
    font-family: 'Nunito', sans-serif;
    cursor:pointer;
    border-radius: 5px;
    color: var(--black);
}

#date-form:focus-visible{
    outline: none;
}

#date-form:hover{
    background-color: var(--offwhite);
}

#category-form {
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: var(--black);
    width: 12em;
    text-align: center;
}

#category-form:hover {
    background-color: var(--offwhite);
}

.btn-container-form {
    padding-top: 1em;
    display: flex;
    align-items: center;
}

.btn-container-form button {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    font-family: inherit;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
    background-color: var(--offwhite);
    font-weight: 700;
    padding: .25em;
    cursor: pointer;
    color: var(--black);
}

.btn-container-form button:nth-of-type(2):hover{
    background-color: var(--hover);
}

#add-thing {
    background-color: var(--green);
    color: var(--white);
}

#add-thing:hover {
    background-color: var(--dark-green);
    color: var(--offwhite);
}

/* footer */

footer {
    grid-area: footer;
    background-color: var(--green);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

footer a img {
    height:20px;
    padding: 3px .5em 0 0;
}
